                <script src="/static/js/rgraph/RGraph.common.core.js"></script>
                <script src="/static/js/rgraph/RGraph.common.context.js"></script>
                <script src="/static/js/rgraph/RGraph.common.effects.js"></script>
                <script src="/static/js/rgraph/RGraph.drawing.text.js"></script>
                <script src="/static/js/rgraph/RGraph.pie.js"></script>
                <script src="/static/js/rgraph/RGraph.gauge.js"></script>
                <script src="/static/js/rgraph/RGraph.common.tooltips.js"></script>
                <script src="/static/js/rgraph/RGraph.common.key.js"></script>
                <script src="/static/js/rgraph/RGraph.common.dynamic.js"></script>
